@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select{margin: 0;padding: 0;border: 0;}
table{ border-collapse:collapse;}
body{font-size:12px;color:#333; font-family:"Microsoft Yahei"; overflow-x:hidden;}
.bodybg{ background:url(../images/bodybg.jpg) right 160px no-repeat;}
img,a{border:0; text-decoration:none;}
ol, ul {list-style: none; }
.clears{ clear:both;}
a{color:#333;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;transition: all .3s ease-out;}
a:hover{color:#F00;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;transition: all .3s ease-out;}
img{ max-width:100%; height:auto;}
.width1190{width:1190px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.red{color:#f00;}
.height1{height:7px;}
.height2{ height:30px;}
.height3{ height:20px;}
.font14{ font-size:14px;}
.font12{ font-size:12px;}
.alignLeft{ text-align:left;}
.alignCenter{ text-align:center;}
.alignRight{ text-align:right;}
.green{color:#7ABD54;}
.orange{color:#f60;}
.hui{color:#999;}

/*header*/
.header{width:100%; height:30px; line-height:30px; background:#f1f1f1;}
.header .fl{width:48%;}
.header .fr{width:48%; text-align:right;}
.header .fr a{ display:inline-block;padding:0 5px;}

/*logo-phone*/
.logo-phone{padding:10px 0;}
.logo{float:left;width:163px; height:59px;}
.phones{float:right;width:140px;padding-left:30px; height:31px;margin:13px 0 0 0; background:url(../images/phone.jpg) left center no-repeat;}
.phones strong{ display:block;height:29px; line-height:29px; font-size:18px;border-top:#4E4E4E 1px solid;border-bottom:#4E4E4E 1px solid;white-space:nowrap;}

/*list-nav*/
.list-nav{width:100%; height:50px; background:#2d2d2d;}
.list{float:left;width:304px; height:50px;position:relative;}
.list h3{ height:50px; line-height:50px; text-align:center; font-weight:400; background:#acce22;color:#fff; font-size:18px}
.list-list{ position:absolute;left:0;top:50px; width:304px; height:320px; background:#fff; z-index:9;}
.list dl{padding:8px 10px;border-bottom:#ddd 1px solid;}
.list dt{ height:30px; line-height:30px; font-size:16px;}
.list dd{}
.list dd a{ font-size:12px; display:inline-block;margin:7px 20px 0 0;}

/*nav*/
.nav{float:left;width:886px;height:50px;}
.nav li{float:left;width:126px; height:50px;}
.nav li a{float:left;width:126px; height:50px; line-height:50px;color:#fff; font-size:16px; text-align:center;}
.nav li a:hover{ background:#222;}
.nav li.navCur a{ background:#000;}
/*banner*/
.banner{height:373px;}

/*xinren*/
.xinren{padding:30px 0;}
.xinren dl{float:left;width:230px; height:60px;padding-left:60px;}
.xinren dt{float:left;width:65px;color:#606062; height:60px; line-height:60px; font-size:30px;}
.xinren dd{float:left;width:160px;color:#717171; font-size:12px;padding:13px 0 0 0; line-height:18px;}

/*content*/
.content{padding:10px 0;}
.title{margin:20px 0 0 0;height:23px; line-height:23px;border-bottom:#ddd 1px solid;border-left:#f1323b 4px solid;padding-left:5px; font-size:18px; font-weight:400; position:relative;}
.title a{ position:absolute; font-size:12px;right:0;top:0;}

/*index-fang-list*/
.index-fang-list{padding:15px 0;}
.index-fang-list dl{float:left;width:288px; height:243px;margin-right:12px;}
.index-fang-list dt{width:288px; height:188px;}
.index-fang-list dt img{width:286px; height:188px;border:#fff 1px solid;}
.index-fang-list dt a:hover img{border:#f00 1px solid;}
.index-fang-list dd{padding:0 0;}
.index-fang-list dd h3{ font-size:16px; height:30px; line-height:30px;}
.index-fang-list dd .hui{ height:25px; line-height:25px; font-size:14px;}

/*index-ershou*/
.index-ershou{padding:15px 0;}
.in-er-left{float:left;width:380px; height:285px; position:relative;}
.in-er-left-text{ position:absolute;left:0;bottom:0;width:370px;padding:0 5px; height:25px; line-height:25px;color:#fff; background:url(../images/black60.png);}
.in-er-left-text strong{ font-size:12px; font-weight:400;width:48%;}
.in-er-right{float:right;width:800px;}
.in-er-right dl{float:left;width:382px; height:115px;padding:13px 0;padding-left:17px;border-right:#ccc 1px dashed;border-bottom:#ccc 1px dashed;}
.in-er-right dl:nth-child(2),.in-er-right dl:nth-child(4){border-right:0;}
.in-er-right dt{float:left;width:150px; height:115px;}
.in-er-right dd{float:left;margin-left:8px;width:210px;}
.in-er-right dd h3{ font-size:14px; height:20px; line-height:15px;}
.in-er-right dd .in-er-right-text{ line-height:18px; font-size:12px;}
.price{ font-size:24px;color:#f03435; text-align:right; height:25px; line-height:25px; font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif; font-weight:bold;}

/*footer*/
.footer .width1190{border-top:#ccc 1px solid; font-size:14px;}
.footer .fl{width:448px; height:100px; line-height:100px;border-right:#ccc 1px solid;}
.footer .fl a{ display:inline-block;margin-right:30px;}
.footer .fr{width:690px;padding:12px 0 0 0;}
.footer .fr dl{float:left;width:270px;}
.footer .fr dt{float:left;width:76px; height:76px;border:#ccc 1px solid;}
.footer .fr dd{float:right;width:180px;color:#666;padding:15px 0 0 0; line-height:20px;}

/*copy*/
.copy{width:100%; height:40px; line-height:40px; background:#2d2d2d; font-size:14px; text-align:center;color:#fff;}
.copy a{color:#fff;}
.copy a:hover{ text-decoration:underline;}

/*指定购房*/
.bg100{ position:fixed;left:0;top:0;width:100%; height:100%; z-index:9; background:url(../images/black60.png); display:none;}
.zhidinggoufang{ position:absolute;left:50%;top:50%;margin:-215px 0 0 -230px;width:460px; height:430px; background:#fff;-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px; z-index:10; box-shadow:0 0 10px #000; display:none;}
.zhidinggoufang h2{ height:40px; line-height:40px;padding:0 15px; position:relative; font-size:14px;border-bottom:#ccc 1px solid;}
.zhidinggoufang h2 .close{ position:absolute;width:30px; height:30px;right:0px;top:0px; cursor:pointer; text-align:center; line-height:30px;}
.zhidinggoufang h2 .close:hover{ background:#F00;color:#fff;}
.zhidinggoufang form{padding:15px 0 0 0;}
.zhidinggoufang input,.zhidinggoufang select{margin:0;padding:0;border:0; background:none;-moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px;padding-left:3px;}
.zhiding-list{height:35px;margin:10px 0 0 0;}
.zhiding-list label{float:left;width:90px; text-align:right;padding-right:5px; height:35px; line-height:35px; font-weight:bold;}
.zhiding-list select,.zhiding-list input{width:325px;height:33px;border:#ccc 1px solid;}
.zhidingsub{padding:10px 0; text-align:center;}
.zhidingsub input{width:200px; height:35px; text-align:center; line-height:35px;color:#fff; font-size:14px; background:#f60; cursor:pointer;}
.zhidingtext{ font-size:12px;padding:15px; line-height:25px;}

/*租房 产品搜索*/
.pro-search table{width:100%;}
.pro-search th{width:80px; text-align:right;padding-right:5px;padding:9px 0;border-bottom:#ccc 1px dotted ; font-size:14px;}
.pro-search td{padding:9px 0;border-bottom:#ccc 1px dotted ;}
.pro-search td a{ display:inline-block;padding:0 15px; height:24px; line-height:24px;-moz-border-radius:4px; -webkit-border-radius: 4px;border-radius:4px;margin-right:4px;}
.pro-search td a.pro-cur{ background:#900;color:#fff;}
.protext{margin:0;padding:0;border:0; background:none;border:#ddd 1px solid;width:50px; height:20px;}
.paixu{ height:25px; line-height:25px; font-size:14px;padding:10px 0 0 0;}
.paixu strong{ font-weight:400;}
.paixu a{ display:inline-block;margin-right:15px;}
.paixu a.pai-cur{ color:#f60; font-weight:bold;}

/*pro-left*/
.pro-left{float:left;width:880px;}
.pro-left dl{padding:15px 0;border-bottom:#ccc 1px dotted;}
.pro-left dt{float:left;width:286px; height:188px;}
.pro-left dd{float:left;width:380px;margin-left:10px;padding:0 0 0 0;}
.pro-left dd h3{ font-size:18px; line-height:25px; font-weight:400;margin-bottom:10px;}
.pro-wei{padding:6px 0; font-size:15px; font-weight:400;}
.pro-fang{padding:5px 0; font-size:14px;}
.pra-fa{padding:5px 0;font-size:14px;margin:20px 0 0 0}
.pro-left dl .price{float:right;margin:50px 0 0 0; font-size:26px;width:140px; text-align:right;height:40px; line-height:40px;}

/*pro-title*/
.pro-right{float:right;width:290px;padding:10px 0 0 0;}
.right-title{ font-size:15px; height:35px; font-weight:400; line-height:35px;padding-left:27px; background:url(../images/fang.png) left center no-repeat;border-bottom:#ccc 1px solid;}
.right-pro dl{padding:10px 0;border-bottom:#ccc 1px dotted; height:89px;}
.right-pro dt{float:left;width:135px; height:89px;}
.right-pro dd{float:right;width:145px; line-height:20px;}
.right-pro dd h3{ font-size:12px;}
.right-pro .pro-fang{ font-size:12px;}
.right-price{color:#f00;}

/*关于我们*/
.contleft{float:left;width:240px;border:#ccc 1px solid;}
.leftNav a{ display:block; text-align:center;height:42px; line-height:42px;color:#333; font-size:16px;}
.leftNav .leftNavCur a{ background:#414141;color:#fff;}
.contright{width:940px;float:left;border:#ccc 1px solid; position:relative;right:1px;border-top:#333 1px solid;}
.rightat{height:72px; line-height:72px;padding-left:70px; background:url(../images/titlebg.png) 15px center no-repeat; font-size:20px;color:#666;border-bottom:#ccc 1px dashed;}
.about{padding:15px; line-height:30px; font-size:14px;}

/*登陆注册*/
.login-click,.reg-click{ display:inline-block;height:25px; line-height:25px; background:#806229;width:60px;margin-left: 5px; text-align:center;-moz-border-radius: 3px; -webkit-border-radius: 3px;border-radius:3px;color:#fff;}
.login-click:hover,.reg-click:hover{ background:#583F10;color:#fff;}

.left{float:left;}
.right{float:right;}
.clearfix:after{content:".";display:block;clear:both;font-size:0;overflow:hidden;height:0;}
.clearfix{zoom:1;}
.reg-logo{width:800px;margin:20px auto; min-height:400px;padding:20px 0 0 0;}
.zcform{width:440px; float:left; border-right:#ddd 1px solid;font-size:14px;min-height:200px;}
.zcform p{margin-bottom:10px;}
.zcform a{ color:#ff7702;}
.zcform p.last{margin-left:310px;font-size:16px;}
.zcform p.last input{ cursor:pointer;}
.zcform label{display:block;float:left;height:48px;line-height:48px;color:#F00;text-indent:10px;}
.zcform label.one{width:90px;height:48px;text-align:right;color:#000;}
.zcform input{float:left;font-size:16px;font-family:"微软雅黑";color:#666;}
.zcform .submit{margin-left:90px;background:#F93;font-size:20px;letter-spacing:4px;color:#fff;cursor:pointer;}
#telphone,#password,#confirm_password,.submit,#agent{border:1px solid #ccc;width:300px;height:46px;text-indent:10px;}
.identifying_code{height:46px;width:180px;_line-height:46px;text-indent:10px;}
.get_code{height:48px;width:110px;margin-left:10px;border:1px solid #ccc;cursor:pointer;}
.agreement{margin-left:90px;height:30px;line-height:30px;font-size:12px;}
.agreement input{display:block;line-height:30px;height:12px;margin:8px 8px 0 5px;border:none;width:12px;}
.reg-logo-right{float:left;width:300px;margin:0 0 0 40px;}
.reg-logo-right h3{ font-size:16px; height:40px; line-height:40px;}
.logo-a{ display:block;width:120px; height:35px; line-height:35px; text-align:center; font-size:16px; background:#f1f1f1;border:#ddd 1px solid;margin:15px 0 0 0;}
.logo-a:hover{ background:#806229;color:#fff;border:#583F10 1px solid;}

/*个人中心*/
.vip-left{float:left;width:230px;}
.vipTitle{height:44px;line-height:44px; font-size:15px;padding-left:92px; background:#323436 url(../images/vipTitlebg.jpg) 68px center no-repeat;color:#fff;-moz-border-radius: 3px; -webkit-border-radius: 3px;border-radius:3px;}
.vipNav dl{border:#D9D9D9 1px solid;padding:10px 0;}
.vipNav dt{ height:35px; line-height:35px; padding-left:84px; font-size:15px; font-weight:bold;margin:5px 0;}
.vipNav dt.vipIcon1{ background:url(../images/vipicon1.jpg) 46px center no-repeat;}
.vipNav dt.vipIcon2{ background:url(../images/vipicon2.jpg) 46px center no-repeat;}
.vipNav dt.vipIcon3{ background:url(../images/vipicon3.jpg) 46px center no-repeat;}
.vipNav dd{border-bottom:#d9d9d9 1px solid;}
.vipNav dd a{ display:block; height:30px; line-height:30px;margin:3px 0;color:#636363; font-size:14px;padding-left:50px;}
.vipNav dd a:hover,.vipNav dd a.vipNavCur{color:#fff; background:#900;}
.vip-right{float:right;width:950px;}
.vipright-title{ height:30px; line-height:30px;padding-left:10px; font-size:14px; background:#f8f8f8;}
.vip-touxiang{margin:10px 0;}
.vip-touxiang dt{float:left;width:100px;height:100px;border:#ddd 1px solid;m}
.vip-touxiang dd{float:left;width:400px;margin-left:10px;padding:10px 0 0 0;}
.vip-touxiang dd h3 strong{ display:inline-block; height:20px; line-height:20px;border:#ddd 1px solid;padding:0 5px; font-weight:400; font-weight:400; font-size:12px;}
.sctx{width:100px; height:25px;margin:10px 0; position:relative;}
.sctx input{ opacity:0; position:absolute;left:0;top:0; z-index:9; cursor:pointer;}
.sctx a{ position:absolute;left:0;top:0; z-index:8;width:98px; height:23px;border:#ddd 1px solid; text-align:center; line-height:23px; font-size:12px; -moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius:4px;}

.grinfo {width: 100%;border: none;border-collapse: collapse;margin: 15px auto 65px;}
.grinfo th {width: 140px;text-align: right;font-size: 14px;font-weight: 400;color: #666;padding: 0 10px 0 0;line-height: 2;font-size: 14px;}
.grinfo select{width:100px; height:23px;border:#ddd 1px solid;}
.grinfo1 th{width:120px;}
.grinfo td {padding: 6px 0;}
.grinfo1 td {font-size: 14px;}

.grinfo2{margin-bottom: 10px;}
.grinfo2 th{width:90px;}

.grinfo td input.inp {margin-right: 10px;}
.inp {border: 1px solid #C8C8C8;line-height: 26px;height: 26px;margin-right: 3px;padding: 2px 5px;font-size: 14px;}
.inw {width: 228px;}
.inw1 {width: 328px;}
.inw3 {width: 720px;}
.inw4 {width: 120px;}
.inw5 {width: 468px;}
.grinfo td input.inw2 {width: 78px;margin-right:2px;}
.grtextarea {height: 100px;overflow: hidden;width: 347px;border: 1px solid #C8C8C8;line-height: 20px;font-size: 12px;}
.member_mod_buttom{width:120px;text-align: center;font-size: 16px;color: #fff;line-height: 50px;border-radius: 3px;background: #FF5A00;cursor: pointer;}

/*sub*/
.subs{background: #000;padding:10px 10px;width:1080px;color:#fff;font-size: 14px;height:33px;overflow: hidden;}
.subs img{vertical-align: bottom;}
.subs_add {overflow: auto;}
.subs_add li{width:348px;text-align: center;border:1px #ddd solid;font-size: 30px;line-height: 60px;float: left;margin:10px 0 0 10px;}
.subs_add li a{display: block;padding:40px 0;height:130px;}
.subs_add li.per_50{width:543px;}
.subs_add li.right{margin-right:0;}

#tablehead {line-height: 35px;}
.basetb td{font-size: 14px;line-height: 30px;}

.map_ul4{float: left;width:300px;margin-left:124px;}
.map_ul4 li{float:left;width:70px;text-align: center;border: 1px #eee solid;margin:0 5px;line-height: 30px;font-size: 16px;border-radius: 2px;}
.map_ul4 li.on{border: 1px #FF5A00 solid;background: #f2f2f2;}
.top_my{display: none;}

/*关注房源*/
.guanzhueq{border-bottom:#666 1px solid; height:25px;margin:10px 0 0 0;}
.guanzhueq li{float:left;width:80px; height:25px; line-height:25px; font-size:14px; text-align:center; cursor:pointer;}
.guanzhueq li.guanzhueqcur{ background:#484848;}
.guanzhueq li.guanzhueqcur a{color:#fff;}
.guanzhulist{padding:10px 0; display:none;}
.guanzhulist dl{padding:10px 0;border-bottom:#ccc 1px solid;}
.guanzhulist dt{float:left;width:190px; height:128px;}
.guanzhulist dd{ float:left;width:470px;margin-left:10px;}
.guanzhulist dd h3{ font-size:24px; height:30px; line-height:24px;}
.guantext{ line-height:30px; font-size:14px;}
.guantext2{ font-size:14px; color:#999;}
.qxgz{ display:inline-block;width:80px; height:25px;border:#ddd 1px solid; line-height:25px; text-align:center;}
.guanzhulist .price{ float:right; text-align:right;width:140px; height:40px; line-height:40px; font-size:26px;margin:30px 0 0 0;}

/*自由经纪人*/
.jingjiren{ background:#f2f2f2;margin:10px 0;}
.jingjiren dl{padding:15px 0;border-bottom:#D5D5D5 1px dotted;}
.jingjiren dt{float:left;width:100px; height:100px;-moz-border-radius: 100px; -webkit-border-radius: 100px;border-radius:100px; overflow:hidden;margin-left:15px;}
.jingjiren dd{float:left;margin-left:40px;padding:7px 0 0 0 ;}
.jingjiren dd h3{ font-size:18px; height:25px; line-height:25px; font-weight:400;}
.wuxing{padding:10px 0;}
.dizhi{ font-size:14px;color:#6187FA; height:25px; line-height:25px;}
.xunzhang{float:right;width:51px; height:50px;margin:10px 6px 0 0;}
.add_street{text-decoration: underline;cursor: pointer;}
#bee_countys2,#bee_countys3{margin:5px 0;display: none;}
#villages_ids{color: #fd551f;}
#villages_ids div{background: #f0f0f0;padding:2px 5px;margin:3px 0;}
#villages_ids div p{color: #555;}
#villages_ids div ul li{float:left;width:130px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
#villages_ids div ul li input{margin-right: 2px;}

/*产品详情页面*/
.proImg{width:420px; height:320px;display: table-cell;vertical-align: middle;text-align:center;margin:30px 0;}
.proImg img{width:420px; height:320px;/*max-width:420px;max-height:420px;width:auto !important;height:auto !important;_width:420px;_height:420px;*/}
.proText{width:535px;margin:30px 0;}
.proTitle{ font-size:24px; line-height:40px; font-weight:400;padding:4px 0;border-bottom:#ccc 1px dotted;}
.proText1{font-size:14px; line-height:25px;padding:8px 0 0 0;}
.proText1 span{margin-right:15px;}
.xun-car{padding:10px 0;}
.xun-car a{ display:inline-block;color:#fff;width:205px;text-align:center; height:50px; line-height:50px;font-size:18px;margin-right:7px;}
.xun-car a:hover{ opacity:0.8;}
.xun-car .xwjg{ display:inline-block; text-align:center; background:url(../images/proxujian.gif) left center no-repeat;}
.xun-car .projrgwc{ background:url(../images/procar.gif) left top no-repeat;padding-left:20px;width:185px; }
.projrsc{height:30px; }
.projrsc a{ display:block;height:30px;line-height:30px;color:#f90; font-size:14px;}
.projrsc a span{ display:inline-block;width:15px;height:15px; margin-right:7px; position:relative;top:2px; background:url(../images/jrsc.jpg) left center no-repeat;}
.projrsc a:hover{color:#f00;}
.projrsc a:hover span{ background:url(../images/jrsc.jpg) right center no-repeat;}

/*proBox*/
.proBox{width:996px;margin:30px auto;border:#F1F1F1 1px solid;padding:1px; background:#fff;}
.proEq{height:50px; font-size:20px; background:#f2f2f2;}
.proEq li{float:left;width:168px; height:50px; line-height:50px; text-align:center; cursor:pointer;}
.proEq li:hover{ background:#ddd;}
.proEq li.proEqCur{ background:url(../images/shopbg1.jpg);color:#fff;}
.lxkf{width:144px; height:50px;}
.lxkf a{ float:left;width:144px; height:50px; background:url(../images/lxkf.gif) left top no-repeat;}
.lxkf a:hover{ opacity:0.6;}
.proList{padding:19px; font-size:14px; line-height:25px; display:none; min-height:400px;}
.proimgList{margin-bottom:19px;}
.title4{height:35px; line-height:35px; font-size:18px; background:#f2f2f2;}
.title4 span{ display:inline-block; height:35px; background:url(../images/shopbg1.jpg);color:#fff;padding:0 20px; font-weight:400;}
.proListText{padding:15px 0; line-height:25px;}




















