<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<!-- 引入样式 -->
		<link rel="stylesheet" href="css/index.css">
	</head>

	<body>
		<div id="app">
			<el-breadcrumb separator-class="el-icon-arrow-right" style="margin: 20px 0;">
				<el-breadcrumb-item :to="{ path: '/' }">房源订单</el-breadcrumb-item>
				<el-breadcrumb-item>订单查看</el-breadcrumb-item>
			</el-breadcrumb>
			<el-main>
				<el-form :inline="true" class="demo-form-inline">
					<el-form-item label="条件查询">
						<el-select v-model="query.status" placeholder="请选择条件进行查询">
							<el-option label="用户名" value="1"></el-option>
							<el-option label="订单状态" value="2"></el-option>
						</el-select>
					</el-form-item>
					<el-form-item>
						<el-input placeholder="请输入信息" v-model="query.nickname" @keyup.enter.native="tableShow(1)"></el-input>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="tableShow(1)">查询</el-button>
					</el-form-item>
				</el-form>
				<el-table :data="tableData" stripe style="width: 100%">
					<el-table-column prop="id" label="订单编号" width="180">
					</el-table-column>
					<el-table-column prop="username" label="用户名" width="280" show-overflow-tooltip=true>
					</el-table-column>
					<el-table-column prop="payWay" label="支付方式">
					</el-table-column>
					<el-table-column prop="payTime" label="支付时间">
					</el-table-column>
					<el-table-column prop="total" label="支付金额">
					</el-table-column>
					<el-table-column prop="liveTime" label="入住时间">
					</el-table-column>
					<el-table-column prop="expirationTime" label="到期时间">
					</el-table-column>
					<el-table-column prop="createTime" label="创建时间">
					</el-table-column>
					<el-table-column prop="updateTime" label="修改时间">
					</el-table-column>
					<el-table-column prop="status" label="订单状态">
					</el-table-column>
					<el-table-column fixed="right" label="操作" width="200">
						<template slot-scope="scope">
							<el-button type="primary" @click="edit(scope.row)">更新</el-button>
							<el-button type="danger" @click="remove(scope.row)">删除</el-button>
						</template>
					</el-table-column>
				</el-table>
				<div class="block">
					<el-pagination @current-change="tableShow" :current-page="currentPage" :page-size="pagesize" layout="total, prev, pager, next, jumper" :total="total">
					</el-pagination>
				</div>
				<el-dialog title="贷款信息" :visible.sync="dialogFormVisible">
					<el-form :model="form" :rules="rules" ref="form">
						<input type="hidden" v-model="form.id" />
						<el-form-item label="状态" prop="state" :label-width="formLabelWidth">
							<el-radio v-model="form.state" label="30017">交易完成</el-radio>
							<el-radio v-model="form.state" label="30018">交易关闭</el-radio>
						</el-form-item>
					</el-form>
					<div slot="footer" class="dialog-footer">
						<el-button @click="cancel">取 消</el-button>
						<el-button type="primary" @click="save">确 定</el-button>
					</div>
				</el-dialog>
			</el-main>
		</div>

	</body>
	<!-- 先引入 Vue -->
	<script src="js/vue.js"></script>
	<!-- 引入组件库 -->
	<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<!-- 引入组件库 -->
	<script src="js/index.js"></script>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				formLabelWidth: "120px",
				dialogFormVisible: false,
				tableData: [{
					id:1,
					username:"用户1",
					payWay:"支付宝",
					payTime:"2019-09-05 20:12:12",
					total:9000,
					liveTime:"2019-09-05:17:32:10",
					expirationTime:"2019-09-05:17:32:10",
					createTime:"2019-09-05:17:32:10",
					updateTime:"2019-09-05:17:32:10",
					status:"交易完成"
				},{
					id:2,
					username:"用户2",
					payWay:"支付宝",
					payTime:"2019-09-05 20:12:12",
					total:5000,
					liveTime:"2019-09-05:17:32:10",
					expirationTime:"2019-09-05:17:32:10",
					createTime:"2019-09-05:17:32:10",
					updateTime:"2019-09-05:17:32:10",
					status:"交易完成"
				},{
					id:3,
					username:"用户3",
					payWay:"支付宝",
					payTime:"2019-09-05 20:12:12",
					total:9000,
					liveTime:"2019-09-05:17:32:10",
					expirationTime:"2019-09-05:17:32:10",
					createTime:"2019-09-05:17:32:10",
					updateTime:"2019-09-05:17:32:10",
					status:"交易关闭"
				},{
					id:4,
					username:"用户4",
					payWay:"微信",
					payTime:"2019-09-05 20:12:12",
					total:9000,
					liveTime:"2019-09-05:17:32:10",
					expirationTime:"2019-09-05:17:32:10",
					createTime:"2019-09-05:17:32:10",
					updateTime:"2019-09-05:17:32:10",
					status:"交易完成"
				},{
					id:5,
					username:"用户5",
					payWay:"现金",
					payTime:"2019-09-05 20:12:12",
					total:9000,
					liveTime:"2019-09-05:17:32:10",
					expirationTime:"2019-09-05:17:32:10",
					createTime:"2019-09-05:17:32:10",
					updateTime:"2019-09-05:17:32:10",
					status:"交易关闭"
				}],
				form: {},
				currentPage: 1,
				total: 0,
				pagesize: 3,
				query: {},
				rules: {
					state: [{
						required: true,
						message: '请选择处理状态',
						trigger: 'blur'
					}]
				}
			},
			mounted: function() { //在这里实现onload事件
				this.tableShow(1);

			},
			methods: {
				tableShow: function(currentpage) {
					//做异步请求的函数
					var _this = this;
					$.post("http://localhost:8080/WeatherManage/feedback/list/" + currentpage + "/" + this.pagesize, this.query, function(page) {
						_this.tableData = page.content;
						_this.total = page.totalElements;
					})
				},
				add: function() {
					this.dialogFormVisible = true;
					this.form = {};
				},
				save: function() {
					var _this = this;
					this.$refs["form"].validate(function(valid) {
						if(valid) {
							_this.dialogFormVisible = false;
							$.post("http://localhost:8080/WeatherManage/feedback/save", _this.form, function(data) {
								_this.$notify({
									title: '成功',
									message: data.message,
									type: 'success'
								});
							})
							setTimeout(function() {
								location.href = "feedback.html"
							}, 1000);
						} else {
							console.log('error submit!!');
							return false;
						}
					});

				},
				edit: function(row) {
					this.dialogFormVisible = true;
					this.form = row;
				},
				cancel: function() {
					this.dialogFormVisible = false;
					this.tableShow(1);
				},
				remove: function(row) {
					var _this = this;
					$.post("http://localhost:8080/WeatherManage/feedback/remove/" + row.id, function(data) {
						_this.$notify({
							title: '成功',
							message: data.message,
							type: 'success'
						});
					})
					setTimeout(function() {
						location.href = "feedback.html"
					}, 1000);
				}
			}
		})
	</script>

</html>