<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.lee.rent.mapper.LoanMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.lee.rent.model.Loan" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="loan_money" property="loanMoney" jdbcType="DOUBLE" />
    <result column="pay_times" property="payTimes" jdbcType="INTEGER" />
    <result column="rent_type" property="rentType" jdbcType="VARCHAR" />
    <result column="loan_time" property="loanTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="redundant" property="redundant" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
</mapper>