body{ background-color:#eaeaea; font-family:Arial; -webkit-text-size-adjust: none;}
*{ padding:0; margin:0;}
header,section{ display:block;}
.clear{ clear:both; font-size:0; line-height:0;}
.container{ margin:0 auto; width:100%; max-width:640px; padding-top:14px; background-color:#fcfcfc;}

.expand{font-size:14px; width:95px; height:30px; position:relative; line-height:30px; color:#BD2325; margin:10px auto;}
.expand:after{ position:absolute; top:4px; right:10px; display:inline-block; width:10px; height:10px; background:transparent; border-bottom: solid 2px #BD2325; border-right:solid 2px #BD2325; content:""; -webkit-transform:rotate(45deg); }
.pack{font-size:14px; width:95px; height:30px; position:relative; line-height:30px; color:#BD2325; margin:10px auto;}
.pack:after{ position:absolute; top:11px; right:10px; display:inline-block; width:10px; height:10px; background:transparent; border-bottom: solid 2px #BD2325; border-right:solid 2px #BD2325; content:""; -webkit-transform:rotate(-135deg); }

header { line-height: 43px; height: 43px; border-bottom: solid 1px #3C0000; border-top: solid 1px #767877; width: 100%; background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#C52C2F), color-stop(0.5, #B31D1F), color-stop(0.51, #A10B0C), to(#A10B0C)); }
header .nav_in { padding: 7px 0 0 6px; height: 30px; line-height: 30px; position: relative; display: -webkit-box; }
header section:first-child{ position:absolute; left:6px; top:7px;}
header section:first-child .nav_back { font-size: 12px; border: 0; overflow: hidden; }
header section:first-child .nav_back span { float: left; display: inline-block; width: 15px; height: 30px; overflow: hidden; }
header section:first-child .nav_back span em { display: inline-block; -webkit-box-shadow: inset 1px 1px 1px #8B0000; -webkit-transform: rotate(-54deg) skew(-16deg); position: relative; left: 12px; top: -23px; text-align: left; width: 76px; height: 76px; border: 1px solid black; border-color: #640000; background-color: Transparent; -webkit-border-radius: 3px; }
header section:first-child .nav_back a.prepage { float: left; font-size: 12px; font-weight: bold; -webkit-box-shadow: inset -1px 1px 1px #8B0000; text-decoration: none; display: inline-block; width: 49px; height: 28px; line-height: 28px; border: 1px solid black; border-left: 0; text-align: center; -webkit-border-radius: 0 4px 4px 0; border-color: #640000; background-color: Transparent; color: #F6EDF0; }
header section:nth-child(2){ text-align: center; -webkit-box-flex: 1; }
header section:nth-child(2) span { display: block; height: 30px; line-height: 30px; padding: 0 10px; font-size: 18px; font-weight: bold; color: #FFFEFF; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
header section:nth-child(3){ width:40px; position:absolute; top:7px; right:0;}
.defaultcon {}
.defaultcon a { text-decoration: none; display: inline-block; position: relative; width: 146px; margin: 8px 0 0 3px; height: 139px; overflow: hidden; }
.defaultcon a em { display: block; position: absolute; color: #FEFFFF; left: 0; bottom: 0; width: 100%; height: 34px; line-height: 33px; font-weight: bold; text-align: center; font-style: normal; font-size:16px; }
.consection { margin: 7px 9px 8px; border: solid 1px #ABABAB; -webkit-border-radius: 8px; -webkit-box-shadow: inset 0px 1px 1px #DEDEDE; background-color:#FFF; min-height: 41px; font-size:14px; }
.consection .incondiv { line-height: 50px; border-top: solid 1px #ABABAB; }
.consection div.incondiv:first-child { border-top-width: 0; padding-top:1px; }
.consection .incondiv span { font-weight: bold; padding-left: 12px; }
.consection .incondiv span i{font-style:normal; color:#E70000;}
.consection .incondiv div span{ font-weight:normal; color:#38528B;}
.consection .cardtype, .consection .cardid,.consection .restb{ display: -webkit-box; width: 100%; }
.consection .cardtype div { background-color:#fff; -webkit-box-flex: 1; position: relative; width: 100%; }
.consection .cardid div { -webkit-box-flex: 1; position: relative; width: 100%; padding-right: 21px; }
.consection .cardtype div:after { content: ""; top: 15px; right: 12px; position: absolute; display: inline-block; width: 6px; height: 6px; -webkit-transform: rotate(225deg); background: transparent; border-top: 2px solid #BD2325; border-left: 2px solid #BD2325; }
.consection .cardtype select { width: 100%; height: 49px; color: #38528B; padding-left: 5px; -webkit-appearance: none; padding-right: 26px; border: 0; text-align: right; font-size:15px; }
.consection .cardtype em{ display:block; width:100%; font-style:normal; text-align:right; margin-right:26px;}
.consection .cardid input{ border: 0; padding-left:9px; height: 49px;color: #999999; text-align: left; width: 100%; vertical-align:middle; font-size:15px;}
.consection .cardid input[type="button"]{ text-align:center; height:31px; margin-top:4px; border:solid 1px #CCC;  -webkit-border-radius: 5px; padding-left:0;}
.consection .cardid input:focus{ text-align:left; }
.consection .cardid p { font-size: 12px; line-height: 16px; position: absolute; top: 32px; left: -3px; color: #A9A9A9; }
.consection .appsucc{ padding:10px 10px 0; line-height:26px; color:#E7333F; font-weight:bold;}
.consection .hamnote{ margin:5px 10px 0px 10px; color:#999;line-height:16px; font-size:12px;font-weight:normal;}
.conmsg{ color:#E7333F; text-align:center; width:100%; font-weight:bold; margin:10px 0 10px; line-height:24px; font-size:14px;}
.conmsg em{ width:20px; height:20px; font-style:normal; font-weight:bold; color:#FFF; line-height:20px; text-align:center; font-size:18px; display:inline-block; margin-right:5px; -webkit-box-shadow: 0 1px 1px #818181; -webkit-border-radius: 13px; border:solid 2px #FFF; background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#EBBDC0), color-stop(0.05, #D25D66), to(#BE1421));}

.bottombtn { margin: 14px 10px; font-size: 16px; }
.bottombtn div { -webkit-box-flex: 1; text-align: left; }
.bottombtn div input, .bottombtn input{ min-width: 60px; line-height: 30px; font-size:16px; font-weight:bold; height: 40px; width: 100%; color: #FFF; background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#F8CACD), color-stop(0.05, #F07E86), color-stop(0.50, #E7333F), color-stop(0.51, #E20111), to(#EB1314)); -webkit-border-radius: 10px; border-style: solid; border-width: 1px; -webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.2); }
.bottombtn div input.yb { font-size:0; height: 78px; width: 300px; color: #FFF; background:transparent url("yb.png")/*tpa=http://kuaisu.czwdydk.cn/Images/yb.png*//*tpa=https://ccclub.cmbchina.com/mca/images/yb.png*/ no-repeat; -webkit-border-radius: 0; border-width:0; -webkit-box-shadow:none; margin:0 auto; }
.consection .restb div{ text-align:right; padding-right:10px; color:#375289;-webkit-box-flex: 1;width: 100%; font-weight:bold;}
.consection .restb div.restbmsg{ text-align:left; line-height:20px; padding-top:7px; padding-bottom:7px;}
.resstep{background: -webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#DDD));}
.bottombtn div .btndisabled{background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#FBFBFB), color-stop(0.05, #F7F7F7), color-stop(0.50, #D2D3D5), color-stop(0.51, #C0C1C5), to(#C0C1C5));}

.nabanner_img{ overflow:hidden; background-color:#FFF; padding:10px 0; margin-top:10px; height:100px; position:relative;}
.nabanner_img ul{ position:absolute; overflow:hidden; width:1308px; left:52px; top:10px;}
.nabanner_img li{ display:inline; float:left; margin:0 29px; }
#h2play{ text-align:center; font-size:16px; font-weight:bold; color:#252525; line-height:40px;}
.tipdiv{ overflow:hidden; min-height:90px; margin-bottom:10px; color:#252525;}
.tipdiv ul{overflow:hidden; width:100%;}
.tipdiv li{margin:0 10px; width:300px; line-height:18px;}
.divicon{ margin-bottom:10px; line-height:20px; text-align:center; height:20px;}
.divicon em{ display:inline-block; width:10px; height:10px; margin:3px; background-color:#FFF;-webkit-border-radius: 5px;-webkit-box-shadow: inset 0 1px 1px #989898;}
.divicon em.sel{ background-color:#E34F35;}
.newapplybtn{ overflow:hidden; border-top:solid 1px #F9F9F9;-webkit-box-shadow: 0 -1px #C2C2C2; }

.secsmgs{ margin-top:0;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0; border-top:0; padding:10px; color:#4E4E4E;}
.secsmgs h3{ line-height:28px; color:#A30A0D;}

.rectab{ width:100%;display: -webkit-box; text-align:center; line-height:39px; border-bottom:solid 1px #F1F1F1;}
.rectab .sel{-webkit-box-flex: 1; color:#FFF; border-top:solid 1px #6F0809; border-bottom:solid 1px #CECCCD; background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#6C0808), color-stop(0.05, #7F1311), color-stop(0.50, #D23A35), color-stop(0.51, #D24846), to(#E48283));}
.rectab .notsel{-webkit-box-flex: 1; color:#585858;border-top:solid 1px #9B9B9B; border-bottom:solid 1px #9B9B9B;background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#FFF), to(#DCDCDC));}
.rectab div:first-child{ border-right:solid 1px #9B9B9B;}
.reccon{ padding:10px;color:#242424;}
.fontbold{ font-weight:bold;}

.rpcstb{ border-bottom:solid 1px #D4D4D4; border-top:solid 1px #F8F8F8; width:100%;}
.tdfirst{ width:150px;}
.tdfirst .newselect{ width:135px; border:solid 1px #E0E0E0; margin:11px 0 14px 8px;}
.tdfirst .newselect img{ margin:10px 0 11px 3px;}
.tdfirst .newselect .applybtn{ width:100%; height:25px; border:0; color:#FFF; background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#F1838C), color-stop(0.50, #E63442), color-stop(0.51, #E20111), to(#EC1213));}
.rpcstb h3{ font-size:16px; font-weight:bold; color:#BE252A; margin-bottom:7px;}
.rpcstb .rightdiv{ line-height:18px; font-size:14px; margin:5px 0;}
.rpcstb .cbrief{ color:#171717; margin-bottom:5px;}
.rpcstb .cactive{ color:#646464;}
.rpmore{border-top:solid 1px #F8F8F8; width:100%; height:80px; background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#FFFFFF), to(#E1E1E1));}
.rpmore a{ display:-webkit-box; text-decoration:none; margin-top:10px;}
.rpmore div:nth-child(1){ width:68px; margin-left:10px; margin-top:6px;}
.rpmore div:nth-child(2){-webkit-box-flex: 1; line-height:18px;}
.rpmore div:nth-child(3){ position:relative; width:23px; overflow:hidden; margin-left:5px;}
.rpmore .rightarrow{ width:20px; height:20px; border:solid 2px #AEAEAE; display:block;-webkit-transform: rotate(-53deg) skew(-18deg); position:absolute; top:10px; left:-13px;}
.conlock{ background:transparent url("checkbox.png")/*tpa=http://kuaisu.czwdydk.cn/Images/checkbox.png*//*tpa=https://ccclub.cmbchina.com/mca/images/checkbox.png*/ no-repeat scroll 0 -1px;margin:7px auto 0; padding-left:20px; width:280px; line-height:20px; font-size:14px; text-align:center;}
.gotop{ width:100%; height:30px; background-color:#A8B5C6; color:#FFF; margin:0 0 10px; text-align:center; line-height:30px; font-size:14px; position:relative;}
.gotop span{ display:inline-block; position:absolute; top:10px; left:50%; margin-left:38px; width:19px; height:9px; overflow:hidden;}
.gotop em{ width:13px; height:13px; display:inline-block; background-color:#FFF;-webkit-transform: rotate(45deg);position:absolute; top:3px; left:12%;}
footer div{text-align:center; color:#646464; line-height:20px; margin-top:14px; margin-bottom:5px; font-size:14px;}

.qclist h2{ color:#BE252A; font-size:16px; font-weight:bold; margin:6px 0 0 7px; line-height:34px; position:relative; padding-left:13px;}
.qclist h2 b{ width:0; height:0; border-width:7px 1px 7px 7px; border-style:solid; border-color:#DCDCDC #DCDCDC #DCDCDC #BE252A;  font-size:0; position:absolute; left:0; top:9px;}
.qclist table{ width:100%; background-color:#FFF; text-align:left; font-size:14px; color:#454545;}
.qclist table tbody{ width:100%;}
.qclist table th{ font-weight:bold; border-bottom:solid 1px #C9C9C9;}
.qclist table td{border-bottom:solid 1px #C9C9C9;}
.qclist table .seltr td{ background-color:#FFF9ED;}
.qclist table tr{ height:34px; width:100%;}
.qclist table th:first-child{ padding-left:7px;}
.qclist table td b{-webkit-transform: rotate(45deg); border:solid 2px #CBCBCB; border-width:2px 2px 0 0; width:8px; height:8px; display:block;}
.qclist table .seltr td b{ border-color:#FF7300;}
.qclist .ftd{background:transparent url("icon.png")/*tpa=http://kuaisu.czwdydk.cn/Images/icon.png*//*tpa=https://ccclub.cmbchina.com/mca/images/icon.png*/ no-repeat scroll 4px -63px; padding-left:20px;}
.qclist .sel .ftd{ background-position:4px 4px;}
.qcline h3{ font-size:14px; text-align:center; line-height:32px; border-bottom:solid 1px #BFBFBF; color:#4B4B4B;}
.qcline .line{ position:relative; width:80%;  margin:0 auto; padding:22px 0 35px;}
.qcline .baseline{ height:5px; border-bottom:solid 1px #EBEBEB; border-top:solid 1px #B2B2B2; background-color:#C5C5C5; margin-top:5px;}
.qcline .basetopline{ width:0; background-color:#ED7304; left:0; top:27px; position:absolute; height:5px; border-top:solid 1px #D76F13;}
.qcline .line span{ top:23px; left:-2px; color:#4C4C4C; width:64px; margin-left:-30px; font-size:12px; padding-top:18px; line-height:22px; text-align:center; position:absolute;background:transparent url("icon.png")/*tpa=http://kuaisu.czwdydk.cn/Images/icon.png*//*tpa=https://ccclub.cmbchina.com/mca/images/icon.png*/ no-repeat scroll 26px -135px;}
.qcline span.linecirle2{ left:33%;}
.qcline span.linecirle3{ left:66%;}
.qcline span.linecirle4{ left:100%;}
.qcline .step1 span.linecirle1,.qcline .step2 span.linecirle2,.qcline .step3 span.linecirle3,.qcline .step4 span.linecirle4{ background-position:26px -232px;}
.qcline .step2 span.linecirle1,.qcline .step3 span.linecirle1,.qcline .step3 span.linecirle2,.qcline .step4 span.linecirle1,.qcline .step4 span.linecirle2,.qcline .step4 span.linecirle3{ background-position:26px -183px;}
.qcline .step2 .basetopline{ width:34%;}
.qcline .step3 .basetopline{ width:67%;}
.qcline .step4 .basetopline{ width:100%;}
.qcdetail{ border-top:solid 1px #EDEDED;}
.qcdetail .detaildiv,.qclist .nocardmsg{ color:#4C4C4C; margin:13px 7px 0; border:solid 1px #C5C5C5;-webkit-border-radius: 10px; background-color:#FFF; padding:10px 10px 6px;}

.agreement{ font-size:14px; margin:0 9px 8px; color:#000; position:relative;}
.agreement div:nth-child(2){ width:20px; margin:0 15px 15px 0; height:20px; position:absolute; left:0; top:0; background:transparent url("checkbox.png")/*tpa=http://kuaisu.czwdydk.cn/Images/checkbox.png*//*tpa=https://ccclub.cmbchina.com/mca/images/checkbox.png*/ no-repeat scroll 0 -54px;}
.agreement div:nth-child(1){ margin-left:28px;}
.agreement div.sel{ background-position:0 -99px;}
.agreement a{ color:#000;}
.downphonelife{margin: 10px 9px 8px;display: -webkit-box; font-size:13px;}
.downphonelife .applelogo{background:transparent url("outlogo.png")/*tpa=http://kuaisu.czwdydk.cn/Images/outlogo.png*//*tpa=https://ccclub.cmbchina.com/mca/images/outlogo.png*/ no-repeat scroll 0 0; width:26px; height:26px; position:absolute; right:53px; top:0;}
.downphonelife .androidlogo{background:transparent url("outlogo.png")/*tpa=http://kuaisu.czwdydk.cn/Images/outlogo.png*//*tpa=https://ccclub.cmbchina.com/mca/images/outlogo.png*/ no-repeat scroll 0 -36px; width:26px; height:26px; position:absolute; right:18px; top:0;}

.abmgmu{ background:#fdeada;-webkit-border-radius: 20px;word-break:break-all;margin:0 10px 35px 10px;}
.abtitle{ padding:0 10px 0 13px; color:#6B6B6B; font-size:14px;}
/* --- æ…ªß…Í«Î --- */
.btnbox { margin: 20px 10px; font-size: 16px; }
.btnbox input { min-width: 60px; line-height: 30px; font-size:16px; font-weight:bold; height: 40px; width: 100%; color: #FFF; background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#F8CACD), color-stop(0.05, #F07E86), color-stop(0.50, #E7333F), color-stop(0.51, #E20111), to(#EB1314)); -webkit-border-radius: 10px; border-style: solid; border-width: 1px; -webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.2); }
/* --- æ…ªß…Í«Î --- */


/* --- À´Õ¯ --- */
#d_content { margin: 7px 9px 8px; color:#282828; line-height:24px;  font-size:14px; }
#d_content p{  font-size:16px; line-height:33px;}
#d_content .radio { background-color:#fff; }
#d_content .text{ margin-left:5px;}
#d_content .s_block{ margin:25px auto; width:280px;}
#d_content .step{width:56px; display:inline-block; text-align:left;}
#d_content .img{ width:42px; height:36px; border:0; margin:3px 7px;}
#d_content .gray_r{ width:13px; height:22px; border:0; margin:7px 17px 26px;}

#maskiframe{ position:absolute;opacity:1; filter:alpha(opacity=100); z-index:900;}
#emailmask{ z-index:905; width:100%; height:100%; position:absolute; left:0; top:0; border:0; opacity:0; filter:alpha(opacity=0);}
#emailtip{ position:absolute; background-color:#FFF; border:solid 1px #ccc; z-index:910;}
#emailtip p{ margin: 8px 7px 0; padding:0;}
#emailtip ul{margin:0; padding: 0 2px 5px; line-height:20px;}
#emailtip ul li{ padding:2px 5px; cursor:pointer;}

.DNrectab{ width:100%;display: -webkit-box; text-align:center; line-height:39px; border-bottom:solid 1px #F1F1F1;}
.DNrectab .sel{-webkit-box-flex: 1; color:#FFF; border-top:solid 1px #6F0809; border:solid 1px #CECCCD; background: #BE2527;}
.DNrectab .notsel{-webkit-box-flex: 1; color:#585858;border-top:solid 1px #9B9B9B; border:solid 1px #9B9B9B; background: #FFFFFF;}
.DNrectab div:first-child{ border-right:0;}
.DNrectab div:last-child{ border-left:0;}

#mempl input::-webkit-input-placeholder { /* WebKit browsers */
  font-size:12px;
}

.phone{ font-size:20px; text-align:center;background:#ff8c01; margin-bottom:20px;} 


 
.shelf_block { cursor:pointer; margin:10px 0px; overflow:hidden; width:100%; background-color:White;}
.shelf_btn { margin-top:10px; margin-left:10px; line-height: 36px; font-size:16px; text-align:center; font-weight:bold; height: 36px; width: 120px; color: #FFF; background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#F8CACD), color-stop(0.05, #F07E86), color-stop(0.50, #E7333F), color-stop(0.51, #E20111), to(#EB1314)); -webkit-border-radius:6px; }
.shelf_info { margin:10px; font-size:14px; color:#929292; }
.cards { margin:5px; overflow:hidden;}
.cards img { width:106px; height:68px; border:0; float:left; margin:5px;}
